/** @format */

/* Re-usable */
.flex-row {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

h2 {
	font-size: 5rem;
	font-weight: 700;
	font-family: "Poppins", sans-serif;
	padding: 15rem 0 4rem 0;
}
h3 {
	font-size: 2.8rem;
	padding: 0 0 7rem 0;
	color: #004e92;
	text-align: center;
}

h3 ion-icon {
	font-size: 3.1rem;
	color: #004e92;
	margin-bottom: 1rem;
}
h4 {
	font-size: 2rem;
	font-weight: 600;

	color: #007bb6;
}
p {
	font-size: 1.8rem;
	font-weight: 200;
	line-height: 1.5;
	max-width: 40rem;
	animation: moveinleft ease-in 1.5s;
	animation-fill-mode: forwards;
	-webkit-animation: moveinleft ease-in 1.5s;
}

* {
	position: relative;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: rgb(247, 247, 247);

	position: relative;
}

html {
	font-family: "Roboto Condensed", sans-serif;
	color: #35323e;
	font-size: 62.5%;
	line-height: 1;
	scroll-behavior: smooth;
	transition: 1s;
}
.home_btn {
	font-size: 1.9rem;
	text-decoration: none;
	background-color: #ff5f6d;
	color: #fff;
	padding: 2rem 3rem;
	position: absolute;
	top: 50%;
	right: 0;
	z-index: 999;
	position: fixed;
	cursor: pointer;
	border-top-left-radius: 15px;
	transition: 0.2s;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-ms-transition: 0.2s;
	-o-transition: 0.2s;
}
.home_btn:hover {
	background-color: #007bb6;
}
/* Hero section */
.section-hero {
	background-image: url(img/ephrem.png), linear-gradient(#000428, #004e92);
	background-size: cover;

	height: 70vh;

	flex-direction: column;
}

.section-hero img {
	width: 20rem;
	height: 20rem;
	top: 40%;
	left: 10%;
}

h1 {
	font-size: 4.5rem;
	font-family: "Poppins", sans-serif;
	line-height: 1.2;
	font-weight: 500;
	letter-spacing: -1px;
	margin-bottom: 2rem;
	max-width: 70%;
	color: #fff;
	left: 25%;
	position: absolute;
	top: 40%;
}

.section-hero p {
	font-size: 2.2rem;
	color: #fff;
	line-height: 1.5;
	max-width: 80rem;
	top: 30%;
	left: 25%;
}

header {
	display: flex;
	flex-direction: row;
	align-items: center;

	justify-content: center;
	width: 100%;
	border-bottom: 1px solid #000428;
}

ul {
	display: flex;
	align-items: center;

	padding: 2rem;
	flex-direction: row;
	gap: 2rem;
}
.burger-btn {
	display: none;
}
ul a {
	display: flex;
	flex-direction: row;
	align-items: center;

	justify-content: center;
	text-decoration: none;
	list-style: none;
	text-transform: uppercase;
	font-size: 1.6rem;
	font-weight: 100;
	cursor: pointer;
	transition: 0.3s;
	text-align: center;
	color: #fff;
	background-color: #004e928e;
	padding: 1rem 1rem;
	border-radius: 15px;
	width: 10rem;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
}
.tech {
	width: 15rem;
}
ul a:hover {
	border-radius: 0;
	color: #fff;
	background-color: #ff5f6d;
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
}
ion-icon {
	margin-right: 10px;
	font-size: 2rem;
	color: #fff;
}

/*Section*/
.titlt-image {
	width: 5rem;
	margin: 0 auto;
	display: flex;
	margin-bottom: 2rem;
}
.section {
	background-color: rgb(240, 241, 246);
	min-height: 60vh;
	padding: 5rem;
}
.section2 {
	background-color: rgb(227, 228, 229);
}
.section-Wrapp {
	max-width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-row-gap: 3rem;
	padding-left: 6rem;
}
.card {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}
.card img {
	width: 4rem;
}
.card a {
	font-size: 2rem;
	font-weight: 500;
	text-decoration: none;
	color: #007bb6;
	transition: 0.4s;
	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	-ms-transition: 0.4s;
	-o-transition: 0.4s;
}
.card a:hover {
	color: #ff5f6d;
}

/* Section-Contact */

.contact-container {
	display: flex;
	background-image: linear-gradient(#000428, #004e92);
	flex-direction: row;
	justify-content: center;
	gap: 6rem;
}

.contact-img {
	background-size: cover;
	width: 25%;
}

.contact-text {
	padding: 5rem;

	width: 40%;
}

form {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 1rem;
	max-width: 54rem;
}
label {
	display: inline-block;
	font-size: 2.3rem;

	font-family: inherit;
	font-weight: 300;
	color: #fff;
}

textarea,
input {
	width: 100%;
	padding: 1rem 1.5rem;
	font-family: inherit;
	font-size: 1.8rem;
	border-radius: 10px;
	border: 1px solid transparent;
	margin-bottom: 2rem;
}

.contact-iconn {
	background: none;
	border: none;
	background-color: #3490dc;
	font-weight: 600;
	font-size: 2.2rem;
	padding: 1rem 4.5rem;
	color: #fff;
	border-radius: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-ms-border-radius: 12px;
	-o-border-radius: 12px;
}
.contact-iconn:hover {
	background-color: #005592;
	box-shadow: 0 0.5rem 1rem #652b01;
	transform: translateY(-2px);
	-webkit-transform: translateY(-2px);
	-moz-transform: translateY(-2px);
	-ms-transform: translateY(-2px);
	-o-transform: translateY(-2px);
}

/* Footer */
footer {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 2rem 0;
	justify-content: space-evenly;
	background-color: #004e92;
	border-top: 0.1px solid #032039;
}
footer img {
	width: 6rem;
	height: 6rem;
}
.footer-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	padding: 2rem 0;
}

.footer-container a {
	height: 3rem;
}

.footer-name {
	font-size: 2rem;
	text-transform: uppercase;
	color: #fff;
}
.footer-header {
	font-size: 2.5rem;
	font-weight: 200;
	text-transform: uppercase;
	color: #fff;
}
.footer-icons {
	display: flex;
	gap: 2rem;
}
.footer-icons a {
	font-size: 3rem;
	color: #fff;
}
.copyright {
	font-size: 1.4rem;
	letter-spacing: 0.5px;
	color: rgb(194, 187, 187);
	background-color: #004e92;
	width: 100%;
	text-align: center;
}

ion-icon {
	transition: 0.4s;
}
.linkedin:hover {
	color: #007bb6;
}
.instegram:hover {
	color: #517fa4;
}
.facebook:hover {
	color: #3b5998;
}
.twitter:hover {
	color: #00aced;
}
